<hr>
<% lists.forEach((list) => { %>
  <div class="show-list">
    <a href="/lists/<%= list.id %>">
      <h2><%= list.title %></h2>
    </a>
    <h3>Created by: <%= list.createdBy.username %></h3>
    <hr>
  </div>
<% }) %>
