<form method="POST" action="/lists">
  <input type="hidden" name="_method" value="POST" required>
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
  </div>
  <button class="button">Create List</button>
</form>
