<div class="add-list">
  <form method="POST" action="/lists">
    <input type="hidden" name="_method" value="POST" required>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" required>
    </div>
    <button class="button btn btn-primary">Create List</button>
  </form>
</div>
