<h1>Register</h1>

<form method="POST" action="/register">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
  </div>

  <button class="button">Register</button>
</form>
