<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/lists">Lists</a></li>
    <% if(locals.isLoggedIn) { %>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/lists/new">New List</a></li>
    <% } else { %>

      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
