<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/lists">Lists</a></li>
    <% if(locals.isLoggedIn) { %>
      <li class="nav-item"><a class="nav-link" href="/lists/new">New List</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    <% } else { %>

      <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
