<h1>Groundhoppers Lists</h1>
<p>Tell others about all the grounds you've visited over the years!</p>
<p>This is the page for those who share a love for both the game and the amazing grounds it is being played at!</p>

<img src="/assets/images/seats.jpeg" class ="img-thumbnail seats">
