<h1>Login</h1>

<div class="register-login">
  <form method="POST" action="/login">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>

    <button class="btn btn-primary">Login</button>
  </form>
</div>
