// import scss partials here
* {
  border: 1px solid blue;
}

body {
  font-family: 'Helvetica', sans-serif;
  justify-content: center;
}

.jumbotron {
  background-color: cyan;
}

nav {
  background-color: red;
}

.seats {
  height: 500px;
  width: 600px;
}

.map {
  background: grey;
  height: 70vh;
  width: 50%;
}
